*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    max-width: 80%;
    background-color: rgb(174, 152, 195);
    padding: 34px;
    margin: auto;
}

.container h2{
    text-align: center;
}

input{
    border: 2px solid black;
    border-radius: 6px;
    outline: none;
    font-size: 16px;
    width: 30%;
    margin: 11px 0px;
    padding: 7px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


form label {
    display: inline-block;
    margin-right: 10px; /* Add some margin for spacing between label and input */
}

btn{
   padding: 10px 10px;
} 